<div class="jumbotron" style="background: #3c3c3c; margin-bottom: 0%;">
    <div class="container text-left">
        <h2 style="color: white; font-family:verdana; font-weight: bold">Currency Converter</h2>
    </div>
    <div class="container text-left" style="margin-top: 5%">
        <h2 style="color:white;font-family:verdana; font-weight: bold">Convert currencies in real-time.</h2>
    </div>
</div>

<div class="container-fluid" style="background: gainsboro" ng-controller="CurrencyCtrl" ng-init="convertCurrency()">
    <a style="color: #3c3c3c; text-align: right;float:right; margin-top: 2%" href="#!/history">View conversion history
        ></a>
    <row class="row">
        <div style="background: gainsboro"></div>
    </row>
    <div class="jumbotron" style="width: 80%; border-radius: 15px;">
        <div>
            <form name="convertForm">
                <div class="container-fluid">
                    <row class="row">
                        <div class="col-sm-3">
                            <label>Amount</label>
                            <div class="form-group" ng-class="{'has-error': convertForm.amount.$invalid}">
                                <input class="form-control" name="amount" placeholder="Amount" ng-change="setDefault()"
                                       ng-model="amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>From</label><br>

                            <select name="FromCurrency" ng-model="FromCurrency" style="width: 100%">
                                <option value="">Select Currency</option>
                                <option ng-repeat="option in currencyLists">{{option}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label></label><br>
                            <button type="button" style="color: red; border: none" ng-click="swap(convertForm.$valid)">
                                <svg aria-hidden="true" data-id="icon-exchange" viewBox="0 0 50 47" height="32px"
                                     width="30px">
                                    <path fill="currentColor" fill-rule="evenodd"
                                          d="M49.897 35.977L26.597 25v7.874H7.144v6.207h19.455v7.874zM.103 11.642l23.3 10.977v-7.874h19.454V8.538H23.402V.664z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <label>To</label><br>
                            <select name="ToCurrency" ng-model="ToCurrency" style="width: 100%">
                                <option value="">Select Currency</option>
                                <option ng-repeat="option in currencyLists">{{option}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label></label><br>
                            <button type="button" class="btn btn-primary"
                                    style="background-color: #F73E3E; font-weight: bold"
                                    ng-click="convert(convertForm.$valid)">Convert
                            </button>
                        </div>
                    </row>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid" style="font-size: large; margin-left: 5%">
        {{amount}} {{ FromCurrency}} =
    </div>
    <div class="container-fluid" style="font-size: xx-large; font-weight: bold; margin-left: 5%">
        {{result}} {{ToCurrency}}
    </div>
</div>
